* {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  font: var(--main-text-font);
}

:root {
  --main-font: "Delius Unicase";
  --main-text-font: 400 36px/24px var(--main-font);
}
.hero {
  max-width: 1152px;
}

.box__item {
  height: 370px;
  display: inline;
  width: 370px;
  gap: 30px;
}
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 80px;
}
.hero2 {
  max-width: 1160px;
}

.hero2__text {
  padding: 120px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
